/* Responsive Typography */
h2,
h3,
p,
label {
  font-size: calc(1em + 0.5vw);
  line-height: 1.4;
  margin-bottom: 1em;
  font-weight: normal;
}

button:hover {
  background-color: darkgray;
}

/* Button Styles */
button {
  font-size: calc(1em + 0.5vw);
  padding: 1.5%;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 10px;
}

input[type="number"],
input[type="text"] {
  font-size: calc(1em + 0.5vw);
  padding: 1.5%;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1em;
}

.title{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.chart-container{
  position: relative;
  height: 45vh;
  width: 50vw;
  left:23vw; /* for laptop */
  padding: 30px 10px 10px 10px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.133);
  border-radius: 50px;
}