/* Responsive Typography */
h2,
h3,
p,
label {
  font-size: calc(1em + 0.5vw);
  line-height: 1.4;
  margin-bottom: 1em;
  font-weight: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button:hover {
  background-color: darkgray;
}

/* Button Styles */
button {
  font-size: calc(1em + 0.5vw);
  padding: 1.5%;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 10px;
}

input[type="number"],
input[type="text"] {
  font-size: calc(1em + 0.5vw);
  padding: 1.5%;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1em;
}

.title{
  text-align: center;
  font-weight: 900;
}

.chart-container{
  position: relative;
  /* height: 45vh;
  width: 50vw;
  left:23vw; 
  padding: 30px 10px 10px 10px;
  margin-bottom: 30px;
  background-color: rgba(0, 0, 0, 0.133);
  border-radius: 50px; */
}

.maxinput-div{
  position: relative;
  width: 25vw;
  border: 3px solid;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 30px;
}

.data-type-div{
  position: relative;
  width: 25vw;
  border: 3px solid;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 30px;
}
#inputTypeSelect{
  height:calc(3em + 0.5vw);
  background-color: rgb(155, 204, 204);
  border-radius: 10px;
  font-size: 1em;
}

.custom-input-div{
  position: relative;
  width: 40vw;
  border: 3px solid;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 30px;
}

.button-container{
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 2vw;
}

.button-container button{
  background-color: rgb(155, 204, 204);
}

/* Responsive Design for Mobile */
@media screen and (max-width: 768px) {
  h2,
  h3,
  p,
  label {
    font-size: calc(0.9em + 1vw);
  }

  button {
    font-size: calc(0.9em + 1vw);
    padding: 2%;
    width: 80%;
  }

  /* .chart-container {
    width: 90vw;
    height: 40vh;
    left:1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    border-radius: 20px;
  } */

  .maxinput-div,
  .data-type-div,
  .custom-input-div {
    width: 80vw;
    padding: 15px;
    border-radius: 15px;
  }

  .button-container {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  #inputTypeSelect {
    font-size: 1.2em;
    height: calc(2.5em + 1vw);
  }
}